<% layout('layout') -%>

<div class="post__TinyMCE__page">
  <form id="editPost__form">
    <textarea id="tinyMCE__ediPost" name="content"></textarea>

    <label for="file">Update Picture</label>
    <input type="file" name="file" accept="image/*" />
    <div id="fileMimeError" class="flash__errorMessage" style="display: none">
      <p>File should be image.</p>
    </div>

    <button type="submit">Save</button>
    <input
      type="hidden"
      id="hiddenPostToEdit"
      value="<%=JSON.stringify(post) %>"
    />
  </form>

  <% if(post.pictureName){ %>
  <div class="post__TinyMCE__page__picture">
    <img src="/pictures/<%= post.pictureName %>" alt="picture" />
  </div>
  <% } %>
</div>
